<div class="alert alert-danger" role="alert" ng-show="invalidLogin">Oh snap! Email and password combination not recognised</div>

<form class="form-signin" role="form" ng-controller="loginCtrl" ng-submit="login()" >
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="form-group">
    	<input type="text" class="form-control" placeholder="Account" required="" autofocus="" ng-model="loginModel.account">
    </div>
    <div class="form-group">
    	<input type="password" class="form-control" placeholder="Password" required="" ng-model="loginModel.password" >
    </div>
    
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">
         <i class="fa" ng-class="{'fa-cog fa-spin': isBusy, 'fa-sign-in': !isBusy}"></i>
        <span>Sign in</span>
    </button>
</form>
<h3>测试帐号：</h3>
<h4>user:user</h4>
<h4>admin:admin</h4>
